.list{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	text-align:center;
}
.list_title{
	font-size:30px;
	width:100%;
	height:10%;
}

.list_order{
	height:80%;
	width:100%;
	overflow:auto;
}

.table{
	font-size:20px;
	text-align:center;
	width:100%;
}

.table tr th{
	font-weight:600;
}

.list_count{
	width:100%;
	height:5%;
	padding:5px;
	display: flex;
	justify-content: space-around;
	font-size:25px;
	color: #563F7A;
}

