.navi_menu{
	background-color: #A4A4A4;
	margin: 5px;
	padding:8px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}
.navi_menu a{
	margin-right:15px;
	text-decoration: none;
	color:white;
}
.navi_menu a:first-child{
	margin-left:10px;
}

.navi_menu .text_menu{
	color:white;
	padding-right:8px;
}

.text_menu span{
	margin-right:5px;
}