<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaeseong.market.dao.OrderMapper">
	
	<insert id="addOrder" useGeneratedKeys="true" keyProperty="id"
			parameterType="Order_DTO">
		insert into order_(successed) values(0)
	</insert>
	
	<insert id="addOrder_detail" parameterType="Order_detailDTO">
		insert into order_detail(order_id, menu_id, quantity)
		values(#{order_id},#{menu_id},#{quantity})
	</insert>
	
	<select id="getOrderByKinds" parameterType="int" resultType="OrderForViewDTO">
		select order_detail.id as id, order_detail.order_id as order_id , menu.name as mname, order_detail.quantity as quantity
		from order_detail
		join menu
		on menu.id = order_detail.menu_id
		and successed = 0
		and kinds = #{kinds}
		order by order_id
	</select>
	
	<update id="finished" parameterType="int">
		update order_detail
		set successed=1
		where id= #{id}
	</update>
	
</mapper>