.member_home_all{
	display: flex;
	justify-content: space-around;
}

.menu_table{
	margin-bottom:10px;
}

.menu_table td{
	padding:3px;
}

.order_btn{
	margin-left:85px;
}

.num_input_box{
	width:50px;
}

.menu_table,
.member_myOrder #myTable{
	width:350px;
	text-align: center;
}


.member_myOrder #myTable td{
	padding: 10px;
}